<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <style type="text/css">
html, body{
    background-image: linear-gradient(black,#01457f);
    height: 100%;
    color: white;
}

#post , #link{
    width: 90%;
    word-wrap: break-word;
    margin: 0 0 10px 7px;
}

#link{
    background-color: #002a4e;
    color: white;
}

#botonedit{
    background-color: #01457f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 5px;
    position:relative;
    cursor: pointer;
    border-radius: 17px;
    padding: 10px 15px;
}

    </style>
</head>
<body>
<form action="/post" method="POST">

    <input type="hidden" name="id" th:value="${post.id}">
    <div>
    <b>Post: </b><input id="post" type="text" name="text" th:value="${post.text}">
    </div>
    <div>
    <b>Link: </b><input id="link" type="text" name="link" th:value="${post.link}">
    </div>



    <a>Categoria:</a>
    <select th:field = "*{post.category}">
        <option th:each = "category: ${category}" th:value = "${category.id}" th:text = "${category.name}"></option>
    </select>
    <input type="hidden" th:field="*{post.likes}">

    <input id="botonedit" type="submit" value="Guardar cambios">
</form>
</body>
</html>
