<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style type="text/css">
html, body{
    background-image: linear-gradient(black,#01457f);
    height: 100%;
    color: white;
}

#post , #link{
    width: 90%;
    word-wrap: break-word;
    margin: 0 0 10px 7px;
}

#link{
    background-color: #002a4e;
    color: white;
}

#botonpost{
    background-color: #01457f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 5px;
    position:relative;
    cursor: pointer;
    border-radius: 17px;
    padding: 10px 15px;
}
</style>

</head>
<body>
<form action="/post" th:object = "${post}"  method="POST">
    <b>Post: </b><textarea id="post" type="text" th:field = "*{text}"></textarea>
    <br>
    <a>Link:</a><input id="link" type="text" th:field = "*{link}">
    <br>

    <a>Categoria: </a>
    <select th:field = "*{category}">
        <option th:each = "category: ${categories}" th:value = "${category.id}" th:text = "${category.name}"></option>
    </select>

    <!--<b>user:</b><input type="text" th:field = "*{user}" th:value="${user.id}">-->
    <input type="hidden" th:field="*{user}" />
    <input type="hidden" th:field="*{likes}">
    <!--<b>User:</b><span th:text="${user1.username}"></span>-->
    <input id="botonpost" type = "submit" value= "crear post">

</form>
</body>
</html>