<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        $(function(){
                $(".unlike").hide();

				function like(id){
					$.get( "/comment/like/"+id, function( data ) {
                      $("#likes"+id).html(data);
                      $("#"+id).hide();
                      $("#unlike"+id).show();
                    });
				}
				function unlike(id){
					$.get( "/comment/unlike/"+id, function( data ) {
                      $("#likes"+id).html(data);
                      $("#"+id).show();
                      $("#unlike"+id).hide();
                    });
				}
				$(".like").on("click", function(){
				    like($(this).attr('id'));
				});
			    $(".unlike").on("click", function(){
				    unlike($(this).attr('id').substring(6, 10));
				});

		});
    </script>
    <meta charset="UTF-8">
    <style type="text/css">

html{
    background-image: linear-gradient(#3a017f,black);
    height: 100%;
}

body{
    color:white;
}

#container{
    background-color: #212121;
    text-align:left;
    min-width:700px;
    padding:15px 25px;
    margin:0 auto;
    border-left:1px solid #eef;
    border-right:1px solid #eef;
    border-radius: 40px;
}

#botonreturn
{
    background-color: #520589cc;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 500px;
    position:relative;
    cursor: pointer;
    border-radius: 17px;
    padding: 10px 15px;
    left: 50%;
}

#texto
{
width: 100%;
word-wrap: break-word;
margin: 0 0 5px 0;
}

.table
{
    border: 1px solid white;
    border-collapse: collapse;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#comentario
{
    white-space: nowrap;
    width: 1000px;
    max-width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
}

td,th
{
    border: 1px solid white;
}

th
{
text-align: center;
}

#botoncomentario
{
    background-color: #520589cc;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px -1090px;
    position:relative;
    cursor: pointer;
    border-radius: 17px;
    padding: 10px 15px;
}

#usuario
{
    white-space: nowrap;
    width: 90px;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}

    </style>
    <title>Posts</title>
</head>
<body>

<div id="container">
    <!--<b>ID:</b><span th:text="${post.id}"></span> -->
    <!--<b>Text:</b> --> <div  id="texto"><span th:text="${post.text}"></span></div>
    <b>Link: </b> <a th:href="${post.link}"><span id="link" th:text="${post.link}"></span></a>
    <=>
    <b>Categoria: </b><span th:text="${post.category.name}"></span>
    <div>
        <a id="botonreturn" href="/welcome">Retornar</a> <a id="botoncomentario" th:href="@{/comment/newComment/}+${post.id}">Nuevo comentario</a>
    </div>

    <table class="table">

        <tr>
            <!--<th><strong>ID</strong></th>-->
            <th><strong>Comentario</strong></th>
            <th><strong>Usuario</strong></th>
            <th><strong>Pleckes</strong></th>
        </tr>
        <tr th:each="comment: ${commentList}">
            <div th:if="${comment.post.id == post.id}">
                <!--<td th:text="${comment.id}">
                </td>-->
                <td id="comentario" th:text="${comment.text}">
                </td>
                <td id="usuario" th:text="${comment.user.username}">
                </td>
                <td id="likes" th:id="likes+${comment.id}" th:text="${comment.likes}">
                </td>

                <td>
                    <a th:href="@{/comment/editComment/}+${comment.id}">Edit</a>
                    <a th:href="${'/comment/deleteComment/'+comment.id}">Delete</a>
                    <button class="like" th:id="${comment.id}">Plecke</button>
                    <button class="unlike" th:id="unlike+${comment.id}">Displecke</button>
                </td>
            </div>
        </tr>
    </table>
</div>
</body>
</html>