<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pleckes login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/css">
html, body{
    background-image: linear-gradient(black,#ad0000);
    height: 100%;
}

#registro{
    background-color: #ad0000;
}
.form-signin-heading{
    color: white;
}
    </style>
</head>

<body>
<form th:action="@{/register}" method="get">
    <button id="registro" class="btn btn-md btn-warning btn-block" type="Submit">Registrarme</button>
</form>

<div class="container">
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="Bienvenido"></h3>
        <br/>
        <input type="text" id="username" name="username"  th:placeholder="Nombre_usuario"
               class="form-control" /> <br/>
        <input type="password"  th:placeholder="Contraseña"
               id="password" name="password" class="form-control" /> <br />
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Acceder"></button>
    </form>
</div>
</body>
</html>