<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8" >
    <title>Category</title>

</head>
<body>

<a href="/category/newCategory">Create Category</a>
<a href="/welcome">Return</a>
<table class="table">
    <tr>
        <th>Id</th>
        <th>name</th>
    </tr>
    <tr th:each="category: ${category}">
        <td th:text="${category.id}">
        </td>

        <td th:text="${category.name}">
        </td>

        <td>
            <a th:href="@{/category/}+${category.id}">Read</a>
            <a th:href="@{/category/edit/}  +${category.id}">Edit</a>
            <a th:href="${'/category/delete/' +category.id}">Delete</a>

        </td>
    </tr>
</table>

</body>
</html>