<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:th="https://www.thymeleaf.org/">
<table class="table">
    <th><strong>ID</strong></th>
    <th><strong>Texto</strong></th>
    <th><strong>Link</strong></th>
    <th><strong>Categoria</strong></th>
    <th><strong>Pleckes</strong></th>
    </tr>
    <tr th:each="post: ${posts}">
        <td id="id" th:text="${post.id}">
        </td>
        <td id="texto" th:text="${post.text}">
        </td>
        <td id="link" th:text="${post.link}">
        </td>
        <td id="nombrecategoria" th:text="${post.category.name}">
        </td>
        <td class="numeropleckes" th:id="likes+${post.id}" th:text="${post.likes}">
        </td>
        <a th:href="@{/comment/newComment/}+${post.id}">Comentar</a>
        <a th:href="@{/post/}+${post.id}">Leer</a>
        <a th:href="@{/post/editPost/}+${post.id}">Editar</a>
        <a th:href="${'/post/deletePost/'+post.id}">Eliminar</a>
        <button class="like" th:id="${post.id}">Plecke</button>
        <button class="unlike" th:id="unlike+${post.id}">Displecke</button>
    </tr>
    </tr>
</table>
</html>