<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>all categories</title>
</head>
<body>
<b>Id:</b><span th:text="${category.id}"></span>
<b>name:</b><span th:text="${category.name}"></span>
</body>
</html>
