<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <meta charset="UTF-8" >
    <title>Category</title>

</head>
<body>

<a href="/comment/newComment">Create Comment</a>
<table class="table">
    <tr>
        <th><strong>ID</strong></th>
        <th><strong>Comment</strong></th>
        <th><strong>User</strong></th>
        <th><strong>Pleckes</strong></th>
    </tr>
    <tr th:each="comment: ${comment}">
        <td th:text="${comment.id}">
        </td>

        <td th:text="${comment.comment}">
        </td>
        <td th:text="${comment.user.username}">
        </td>
        <td>
            <a th:href="@{/comment/}+${comment.id}">Read</a>
            <a th:href="@{/comment/edit/}+${comment.id}">Edit</a>
            <a th:href="${'/comment/delete/'+comment.id}">Delete</a>


        </td>
    </tr>
</table>
</body>
</html>