<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
html, body{
    background-image: linear-gradient(black,#01457f);
    height: 100%;
    color: white;
}

#text{
    width: 90%;
    word-wrap: break-word;
    margin: 0 0 0 7px;
}

#botoncomentario{
    background-color: #01457f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 600px;
    position:relative;
    cursor: pointer;
    border-radius: 17px;
    padding: 10px 15px;
}

    </style>
</head>

<body>
<form action="/comment" th:object = "${comment}"  method="POST">
    <b id="comentario">Comentario: </b><textarea type="text" th:field = "*{text}"></textarea>
    <!--<span th:text = "${id}"></span>-->
    <br>
    <!--<b>user:</b><input type="text" th:field = "*{user}" th:value="${user.id}">-->
    <input type="hidden" th:field="*{user}" />
    <input type="hidden" th:field="*{post}" />

    <!--<b>User:</b><span th:text="${user.username}"></span>
    <br>-->

    <input id="botoncomentario" type = "submit" value= "Crear comentario">

</form>
</body>
</html>