<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
<b>Id:</b><span th:text="${comment.id}"></span>
<b>Texto:</b><span th:text="${comment.comment}"></span>

---
<b>User:</b><span th:text="${comment.user.username}"></span>
</body>
</html>
